body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: radial-gradient(117.96% 149.87% at 50% -17.96%, #F1E4FC 0%, #FEEAB6 62.8%, #FFF2D1 100%)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .sidebar{
    position: fixed;
    top:0;
    left:0;
    height:100%;
    width:40px;
    background: #fff;
    /* padding: 14px 14px; */
.sidebar{
    position: fixed;
    width: 50px;
    background-color:#fff;
    height: 100%;
    top: 0;
    left: 0;
    padding-right: 0;
    margin-right: 0;
    padding-left: 10px;
    /* padding: 14px 14px; */
}

.sidebar .logo_content .logo{
    color:#AD00FF;
    display:flex;
    height: 50px;
    width: 100%;
    margin-left: 20px;
    margin-top: 20px;
    align-items:center;
}



.logo_content .logo .logo_name {
    position: fixed;
    margin-left: 50px;
}
 
.logo_content .logo .logo_name a{
    text-decoration: none;
    color: #AD00FF;
    font-size: 24px;
    font-weight:800;
    letter-spacing:2px;
    line-height: 22px;
}

.logo_content .logo .logo_rectangle{
    position: fixed;
    margin-left: 50px;
    margin-top: 74px;
    height: 7px;
    width: 100px;
    background-color: #AD00FF;
}

.sidebar .logo_content .menu_slide{
    position: absolute;
    margin-left: 20px;
    margin-top: -35px;
    background-color: #AD00FF;
    height: 220px;
    width: 2px;
    text-align: center;
    line-height: 50px;
    /* transform: translateX(-50%); */
}
/* 
.sidebar ul{
    margin-top: 50px;
    margin-left: 50px;
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:left;

} */
.sidebar ul{
    height: 100%;
    list-style: none;
    padding-left: 0px;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-top: 210px;
}

.sidebar ul li{
    position:relative;
    /* margin: 12px 12px;
     */
    height: 80px;
    transform: rotate(-90deg);
    text-decoration: none;
    line-height: 40px;
    border-radius: 12px;
} 

 .sidebar ul li a{
    color: #AD00FF;
    padding: 13px 18px;
    text-decoration: none;
    display: flex;
    justify-content: left;
    transition: all 0.4s ease;
} 

.sidebar ul li a:hover{
   font-weight: 700;
   background: rgb(243, 219, 157);
} 


